<!-- шаблон для главной страницы -->
{% extends 'base.html' %}

{% block name %}
	<h2>Главная</h2>
{% endblock %}

{% block content %}
	<ul>
		<li><a href="/anketa/">Добавить анкету аббитуриента</a></li>
		<li><a href="/exam/">Добавить результат экзамена</a></li>
		<li><a href="/show_all_anketa/">Просмотреть все анкеты</a></li>
		<li><a href="/disc/">Список дисциплин</a></li>
		<li><a href="/spec/">Список специальностей</a></li>	
	</ul>
	<h2>Выполнил: Абатнин А.А. гр. К-7621</h2>
	<h2>Вариант 1 - Аббитуриент</h2>
	<h3>Задание</h3>
	<p>Разработать СУБД "Абитуриент" для автоматизации работы приемной комиссии ВУЗа. БД должна содержать четыре таблицы: анкеты абитуриентов, данные о специальностях, данные о дисциплинах и результаты экзаменов.</p>
	<p>Анкета включает следующие данные об абитуриенте:</p>
	<ol>
		<li>регистрационный номер (ключевое поле);</li>
		<li>фамилия, имя, отчество;</li>
		<li>дата рождения;</li>
		<li>оконченное среднее учебное заведение (название, номер, населенный пункт);</li>
		<li>дата окончания учебного заведения;</li>
		<li>наличие красного диплома или золотой/серебряной медали;</li>
		<li>адрес (город, улица, номер дома, телефон);</li>
		<li>шифр специальности</li>
	</ol>
	<p>Данные о специальностях содержат:</p>
	<ol>
		<li>шифр специальности (ключевое поле);</li>
		<li>название специальности;</li>
	</ol>
	<p>Данные о дисциплинах содержат:</p>
	<ol>
		<li>шифр дисциплины (ключевое поле)</li>
		<li>название дисциплины;</li>
	</ol>
	<p>Результаты экзаменов содержат:</p>
	<ol>
		<li>регистрационный номер абитуриента;</li>
		<li>шифр дисциплины;</li>
		<li>экзаменационная оценка.</li>
	</ol>
{% endblock %}