{% extends 'base.html' %}

{% block name %}
	<h2>Главная</h2>
{% endblock %}

{% block content %}
	<h2>Выполнил: Абатнин А.А. гр. К-7621</h2>
	<h2>Вариант 1 - Аббитуриент</h2>
	<p>Разработать СУБД "Абитуриент" для автоматизации работы приемной комиссии ВУЗа. БД должна содержать четыре таблицы: анкеты абитуриентов, данные о специальностях, данные о дисциплинах и результаты экзаменов.</p>
	<ul>
		<li><a href="/add_anketa/">Добавить анкету аббитуриента</a></li>
		<li><a href="/show_all_anketa">Просмотреть все анкеты</a></li>
	</ul>
{% endblock %}